-
  const p1Pic = require('../images/p1.jpg?size=600');
  const p2Pic = require('../images/p2.jpg?size=600');
  const p3Pic = require('../images/p3.jpg?size=600');
  const p4Pic = require('../images/p4.jpg?size=600');
  const p5Pic = require('../images/p5.jpg?size=600');
  const p6Pic = require('../images/p6.jpg?size=600');
  const p7Pic = require('../images/p7.jpg?size=600');
  const p8Pic = require('../images/p8.jpg?size=600');
  const p9Pic = require('../images/p9.jpg?size=600');

section(routeTarget="projects" class="projects section--base el--hidden")
  nav(class="route-links")
    ul(class="route-links__menu")
      a(routeTo="/")
        li Home
      a(routeTo="about")
        li About
      a(routeTo="contributions")
        li Contributions
      a(href="http://coder-rising.blog/" target="_blank" rel="noopener" class="box-shadow--std")
        li Blog
  h2(class="section__header") Projects
  .projects__gallery
    article(class="projects__item box-shadow--std" projectId="p5")
      .projects__item-header
        h3 Star Wars Guess Who Game
        figure(style=`background-image: url(${p5Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p Guess the random character and see how high you can get your streak of correct guesses.  Built with <strong>React</strong>, <strong>Node</strong>, and <strong>AWS</strong> services.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p2")
      .projects__item-header
        h3 Final Fantasy MiniWiki
        figure(style=`background-image: url(${p2Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p View quick facts about your favorite Final Fantasy characters with this <strong>React / Redux</strong> app. 
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p9")
      .projects__item-header
        h3 HydraBase
        figure(style=`background-image: url(${p9Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p A prototype of an app designed to help fire fighters. Developed at the <strong>2018 AT&T IoT Civic Hackathon</strong> and uses the <strong>Google Maps API</strong>.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p1")
      .projects__item-header
        h3 Simon - Morph Edition
        figure(style=`background-image: url(${p1Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p Exercise your memory muscles with this game of tones, lights, and patterns. Developed with <strong>async functions</strong>.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p3")
      .projects__item-header
        h3 Drawn Tic-Tac-Toe
        figure(style=`background-image: url(${p3Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p This app draws itself across your screen using <strong>SVG animation</strong> and invites you to challenge the CPU to this classic game.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p8")
      .projects__item-header
        h3 Spinning Pomodoro
        figure(style=`background-image: url(${p8Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p Work in productive bursts with a little help from the timer that uses <strong>SVG animation</strong> to show you know how much time you have left.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p4")
      .projects__item-header
        h3 K-Calc
        figure(style=`background-image: url(${p4Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p A 3D calculator from the future for all your computation needs. Built with <strong>CSS 3D transforms and animation</strong>.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p6")
      .projects__item-header
        h3 K-Tatap
        figure(style=`background-image: url(${p6Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p Turn your keyboard into an electronic drum kit that also triggers some tasty visuals. Developed with JS libraries <strong>Paper.js</strong> and <strong>Howler.js</strong>.
        button(class="details-btn") Details
    article(class="projects__item box-shadow--std" projectId="p7")
      .projects__item-header
        h3 Wikipedia Gateway
        figure(style=`background-image: url(${p7Pic.src})`)
          div(class="loaded-image-hook el--hidden")
      .projects__item-footer
        p A simple interface built on top of the <strong>MediaWiki action API</strong> to help you find Wikipedia content with search keywords.
        button(class="details-btn") Details
  div(class="projects__overlay overlay--base el--hidden")
    div(class="projects__overlay-content overlay-content--base")
    i(class="projects__overlay-down-arrows overlay-down-arrows--base el--hidden")
      svg(width="70" height="70" viewBox="0 0 256 512")
        path(
          fill="white" 
          d=`M119.5 262.9L3.5 145.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 223.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 263c-4.7 4.6-12.3 4.6-17-.1zm17 128l116-117.8c4.7-4.7 4.7-12.3 0-17l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L128 351.3 27.6 249.1c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l116 117.8c4.7 4.6 12.3 4.6 17-.1z`
        )